# В этом файле мы подсказываем git (системе контроля версий) какие файлы НЕ НАДО отслеживать и сохранять в историю
# Бинарные файлы для программ и плагинов
* .exe
* .exe ~
* .dll
* .so
* .dylib

.idea/

# Тестовый двоичный файл, созданный с помощью `go test -c`
* .test

# Вывод инструмента покрытия go, особенно при использовании с LiteIDE
* .out

# Каталоги зависимостей (удалите комментарий ниже, чтобы включить его)
# vendor /